body{
    box-sizing: border-box;
    padding:0;
    margin:0;
    width:100%;
    height: 100vh;
    outline: none;
    overflow-x: hidden;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

